In [8]:
import pandas as pd

# json

In [9]:
pd.read_json('train (1).json')

'''
json is a universally accepted data format for almost all languages. now, most of the time, data is in csv format. but, if it's not, and
it is in json or sql format, you need to know its handling too. json is just like dictionary having key value pair.

below is the json documentation. just like csv, it has same to similar functions for handling the json data.
https://pandas.pydata.org/docs/reference/api/pandas.read_json.html
'''

"\njson is a universally accepted data format for almost all languages. now, most of the time, data is in csv format. but, if it's not, and\nit is in json or sql format, you need to know its handling too. \n\nbelow is the json documentation. just like csv, it has same to similar functions for handling the json data. \nhttps://pandas.pydata.org/docs/reference/api/pandas.read_json.html\n"

# json shortcut to csv

In [29]:
import json
with open("train (1).json") as f:
    data = json.load(f)

df = pd.json_normalize(data, sep='_')
df.to_csv("output.csv", index=False)

'''
SHORTCUT:-
just convert any json to csv with above code and then do any operations you want.
'''

In [10]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

'''
you can also read the json in the url. just paste the url link in the read_json function.
'''

'\nyou can also read the json in the url. just paste the url link in the read_json function.\n'

# SQL

In [11]:
!pip install mysql.connector
import mysql.connector
'''
if you are working with database, you need to have mysql connector which will connect the database to the python. now, here itself,
you can use the queries in order to handle the data.

start xampp. after that, open localhost phymyadmin. then, new db ---> name it ---> import ---> select file ---> db imported.

documentation to handle the sql data:-
https://pandas.pydata.org/docs/reference/api/pandas.read_sql_query.html#pandas.read_sql_query
'''

Requirement already satisfied: mysql.connector in /usr/local/lib/python3.11/dist-packages (2.2.9)

'\nif you are working with database, you need to have mysql connector which will connect the database to the python. now, here itself, \nyou can use the queries in order to handle the data. \n\ndocumentation to handle the sql data:- \nhttps://pandas.pydata.org/docs/reference/api/pandas.read_sql_query.html#pandas.read_sql_query\n'

In [13]:
!sudo systemctl status mysql

System has not been booted with systemd as init system (PID 1). Can't operate.
Failed to connect to bus: Host is down

In [18]:
!sudo service mysql status

mysql: unrecognized service

In [23]:
import sqlite3

conn = sqlite3.connect(":memory:")  # in-memory DB

cursor = conn.cursor()
cursor.execute("CREATE TABLE country (name TEXT, population INT);")
cursor.execute("INSERT INTO country VALUES ('India', 1400000000);")
cursor.execute("SELECT * FROM country;")
print(cursor.fetchall())

[('India', 1400000000)]

In [17]:
conn = mysql.connector.connect(host='localhost',user='root',password='dev1234.',database='world')

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)

In [ ]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)

# sql shortcut to csv

In [27]:
'''
can you see all the above errors that need to be solved? above requirements that need to be fulfilled? why enter into such fuss?
SHORTCUT:-
in the database schema, there are different tables. you can export each table separately in any format, including csv. city was one of
the tables which i exported from phpmyadmin in csv format.
'''
df = pd.read_csv('city.csv')
df.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200